In [1]:
import pandas as pd

In [5]:
df_hcpcs = pd.read_csv('/Users/me/data/payless_health/hcpcs.csv')

In [6]:
df_hcpcs

,billing_code,description,category
0,A0021,Outside state ambulance serv,Ambulance and Other Transport Services and Sup...
1,A0080,Noninterest escort in non er,Ambulance and Other Transport Services and Sup...
2,A0090,Interest escort in non er,Ambulance and Other Transport Services and Sup...
3,A0100,Nonemergency transport taxi,Ambulance and Other Transport Services and Sup...
4,A0110,Nonemergency transport bus,Ambulance and Other Transport Services and Sup...
...,...,...,...
18005,99601,Home infusion/visit 2 hrs,Medicine
18006,99602,Home infusion each addtl hr,Medicine
18007,99605,Mtms by pharm np 15 min,Medicine
18008,99606,Mtms by pharm est 15 min,Medicine
18009,99607,Mtms by pharm addl 15 min,Medicine

In [7]:
df_drg = pd.read_parquet('/Users/me/data/payless_health/icd-10-ms-drg-definitions-manual-files-v41/DRG_to_MDC_mapping.parquet')

In [11]:
df_drg[df_drg['DRG'].isin(df_hcpcs['billing_code'])]

Empty DataFrame
Columns: [DRG, MDC, MS, Description, MDC_name]
Index: []

In [12]:
df_drg

     DRG MDC MS                                        Description MDC_name
0    001      P  Heart transplant or implant of heart assist sy...     None
1    002      P  Heart transplant or implant of heart assist sy...     None
2    003      P  Ecmo or tracheostomy with mv >96 hours or prin...     None
3    004      P  Tracheostomy with mv >96 hours or principal di...     None
4    005      P  Liver transplant with mcc or intestinal transp...     None
..   ...  .. ..                                                ...      ...
761  987      P  Non-extensive o.r. procedures unrelated to pri...     None
762  988      P  Non-extensive o.r. procedures unrelated to pri...     None
763  989      P  Non-extensive o.r. procedures unrelated to pri...     None
764  998         Principal diagnosis invalid as discharge diagn...     None
765  999                                               Ungroupable     None

[766 rows x 5 columns]

In [13]:
df_drg.rename(columns={'DRG': 'billing_code', 'MDC': 'category', 'Description': 'description'}, inplace=True)

In [18]:
df_drg['code_type'] = 'DRG'

In [20]:
df_hcpcs['code_type'] = 'HCPCS'

In [28]:
df_drg_hcpcs = pd.concat([df_drg[['billing_code', 'category', 'description', 'code_type']], df_hcpcs])
df_drg_hcpcs = df_drg_hcpcs[['billing_code', 'code_type', 'category', 'description']]

In [29]:
df_drg_hcpcs.to_parquet('/Users/me/data/payless_health/drg_hcpcs_codes.parquet')

In [30]:
df_load = pd.read_parquet('/Users/me/data/payless_health/drg_hcpcs_codes.parquet')

In [31]:
df_load

,billing_code,code_type,category,description
0,001,DRG,,Heart transplant or implant of heart assist sy...
1,002,DRG,,Heart transplant or implant of heart assist sy...
2,003,DRG,,Ecmo or tracheostomy with mv >96 hours or prin...
3,004,DRG,,Tracheostomy with mv >96 hours or principal di...
4,005,DRG,,Liver transplant with mcc or intestinal transp...
...,...,...,...,...
18005,99601,HCPCS,Medicine,Home infusion/visit 2 hrs
18006,99602,HCPCS,Medicine,Home infusion each addtl hr
18007,99605,HCPCS,Medicine,Mtms by pharm np 15 min
18008,99606,HCPCS,Medicine,Mtms by pharm est 15 min
18009,99607,HCPCS,Medicine,Mtms by pharm addl 15 min